extends ../template/layout

block content 
  h1= title 

  p #{developer.name}

  if developer.year_established
    p #[strong Established]: #{developer.year_established}

  if developer.founders
    p #[strong Founders]: #{developer.founders}
  
  if developer.description
    p #[strong Description]:
    p #{developer.description} 
  
  if developer.site 
    a(href=developer.site target="_blank" rel="noopener noreferrer") Developer Site 

  each game in developer_games
    hr
    a(href=game.url) #{game.title}
    p #[strong Platforms: ] #{game.consoles_list}
    p #[strong Genres:] #{game.genres_list}
  else 
    p There are no games for this developer.

  hr
  p 
    a(href=developer.url+"/delete") Delete Developer
  p 
    a(href=developer.url+"/update") Update Developer