extends ../template/layout  

block content 
  h1= title 

  p #[strong Developer:] #{game.developer.name}
  p #[strong Released: ] #{game.released_formatted}
  p #[strong Genre: ] #{game.genres_list}
  p #[strong Available on: ] #{game.consoles_list}

  br
  
  h4 Description
  if game.description
    p #{game.description}
  else 
    p No description available.

  br

  h3 Copies 

  each copy in game_instances
    hr
    a(href=copy.url) #{copy.game.title}
    p #[strong Condition: ]#{copy.condition} 
    p #[strong Platform: ] #{copy.console.name}
    p $#{copy.price}
  else 
    p There are no copies of this game.