extends ../template/layout  

block content 
  h1= title 

  if game.developer
    p #[strong Developer:] #{game.developer.name}
  else 
    p #[strong Developer:] Developer Unannounced
  
  if game.released
    p #[strong Released Date: ] #{game.released_formatted}
  else 
    p #[strong Released Date: ] Release date Unannounced
  
  if game.genres_list 
    p #[strong Genre: ] #{game.genres_list}
  else
    p #[strong Genre: ] Genres Unannounced

  if game.consoles_list
    p #[strong Available on: ] #{game.consoles_list}
  else
    p #[strong Available on: ] Consoles Unannounced

  br
  
  h4 Description
  if game.description
    p #{game.description}
  else 
    p No description available.

  br

  h3 Copies 

  each copy in game_instances
    hr
    a(href=copy.url) #{copy.game.title}
    p #[strong Condition: ]#{copy.condition} 
    p #[strong Platform: ] #{copy.console.name}
    p $#{copy.price}
  else 
    p There are no copies of this game.
  
  hr
  p 
    a(href=game.url+"/delete") Delete Game
  p
    a(href=game.url+"/update") Update Game