extends ../template/layout

block content
  h1 !{title}

  
  p #[strong Condition: ]#{gameinstance.condition} 
  p #[strong Platform: ] #{gameinstance.console.name}
  p $#{gameinstance.price}

  hr
  p 
    a(href=gameinstance.url+"/delete") Delete Game Instance (copy)
  p  
    a(href=gameinstance.url+"/update") Update Game Instance (copy)