extends ../template/layout  

block content 
  h1= title

  if console.company
    p #{console.company}
  else 
    p No company
  
  p #{console.name}


  hr
  p 
    a(href=console.url+"/delete") Delete Console
  p  
    a(href=console.url+"/update") Update Console